.dashboard {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 400px;
    width: 95vw;
    margin-top: 90px; /* Espacio para el Header fijo */
    gap: 1rem;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: var(--border-radius);
    padding: 7px;
    pointer-events: none; /* Bloqueamos el contenedor base */
}

.dashboard > * {
    pointer-events: all; /* Pero permitimos interacción en sus hijos (BabylonApp y GameLoopTable) */
}
